include LICENSE.txt
include README.md
# recursive-include ga-optout/locale *
recursive-include djangocms_ga_optout/statics *
recursive-include djangocms_ga_optout/templates *
recursive-include djangocms_ga_optout/migrations *
